/* RESET CSS */

/* Remove margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajustes básicos para imagens */
img {
    display: block;
    max-width: 100%;
}

/* Remove marcadores de listas */
ul,
ol {
    list-style: none;
}

/* Remove sublinhado padrão dos links */
a {
    text-decoration: none;
    color: inherit;
}

/* Melhora a renderização do texto */
body {
    line-height: 1.5;
}